.DS_Store
.github
.vscode
*.sqlite
node_modules
.env
.eslintignore
.eslintrc
.gitignore
.git
.dockerignore
.editorconfig
.prettierignore
.prettierrc
Dockerfile
readme.md
dist
tsconfig.tsbuildinfo
docker-compose.yml